# v2022-08-23+msvs [rivy]

# NOTE: Git GLOBSTAR syntax [see `git help gitignore`]
# * ref: [.gitignore] http://git-scm.com/docs/gitignore @@ http://archive.is/Rk6rO
# * ref: [Generate gitignore's](https://gitignore.io) ; eg, <https://gitignore.io/api/node>

# ignore intermediate/undistributed build artifacts
build
[._@#$]build
target

# ignore coverage data
coverage
[._@#$]coverage
.nyc_output

# ignore JS import/package-related files
node_modules
package-lock.json
yarn.lock

# ignore VSCode/VisualStudio-related files
## * code workspace files ~ ref: <https://stackoverflow.com/questions/44629890/what-is-a-workspace-in-visual-studio-code/69393961#69393961> @@ <https://archive.is/o5DB0>
/*.code-workspace
## * VS2015/2017 cache/options directory
.vs/
## * VS project user-specific property files
*.vcxproj.user
